body {
  padding-top: 50px;
}
.content {
  padding: 40px 15px;
  text-align: center;
}

th {
  text-align: center;
}
.content-left {
  text-align: left;
}

.footer {
  font-size: 90%;
}

.footer small {
  float: left;
}

.footer ul {
  float: right;
  list-style: none;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}