{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <legend><span class="col-sm-offset-1">{% trans "Account Details" %}</span></legend>
{% if form.errors %}
            <div class="alert alert-danger">
                <p>{% trans "Invalid Data was submitted" %}</p>
            </div>
{% endif %}

<form method="post" action="{% url 'wui_acc_profile' %}">
{% csrf_token %}

{% for field in form %}
    {% include 'registration/form_field.html' %}
{% endfor %}

<input type="submit" value="Save" class="btn btn-default" />
</form>

<p><a href="{% url 'password_change' %}" class="btn btn-sm btn-link">Change password</a></p>
{% endblock %}