{% extends "base.html" %}
{% load berlyne_extra %}
{% load i18n %}
{% block title %}{{ course.name }} {% if page %} - {{ page }}{% endif %}{% endblock %}
{% block content %}
    <ul class="nav nav-tabs">
        <li role="presentation" {% if page == "course" %} class="active"{% endif %}>
            <a href="{% url "wui_course_show" course.name %}">{% trans "Course" %}</a>
        </li>
        <li role="presentation" {% if page == "problems" %} class="active"{% endif %}>
            <a href="{% url "wui_course_problems" course.name %}">{% trans "Problems" %}</a>
        </li>
        {% if course.show_scoreboard %}
            <li role="presentation" {% if page == "scoreboard" %} class="active"{% endif %}>
                <a href="{% url "wui_course_scoreboard" course.name %}">{% trans "Scoreboard" %}</a>
            </li>
        {% endif %}
    </ul>
    {% if errors %}
        {% for error in errors %}
            <div class="alert alert-danger">
              {{ error }}
            </div>
        {% endfor %}
    {% endif %}
    {% if success %}
        {% for msg in success %}
            <div class="alert alert-success">
              {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
        {% block details %}
        {% endblock %}

{% endblock %}