{% extends "base.html" %}
{% load berlyne_extra %}
{% load i18n %}
{% block title %}Events Overview{% endblock %}
{% block content %}
    {% if message %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endif %}

    {% if user|has_perm:"can_manage_course" %}
        <div>
            <a href="{% url 'wui_course_create' %}" class="btn btn-default mr-bottom">Create Event</a>
        </div>
    {% endif %}

    {%  for headline, event_list in event_lists.items %}
        {% include "courses/events_list.html" %}
    {%  endfor %}
{% endblock %}