{% extends "base.html" %}
{% load berlyne_extra %}
{% load i18n %}
{% block title %}Manage Problems{% endblock %}
{% block content %}
    <legend><span class="col-sm-offset-1">{% trans "Assign problems to course" %}</span></legend>
    <form method="POST">
        {% csrf_token %}

        {% for field in form %}
            {% include 'registration/form_field.html' %}
        {% endfor %}

        <input type="submit" value="{% trans "Assign Points" %}" class="btn btn-default" />
    </form>
{% endblock %}