{% load i18n %}

{% for category, problems in categories.items %}
    <div class="content-left">
        <h3>{{ category }}</h3>
    </div>
    {% for problem in problems %}
         <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse_{{ problem.slug }}">{{ problem.title }} [{{ problem.points }} {% trans "points" %}]
                    {% if problem.solved %} - <strong>{% trans "Solved!" %}</strong>{% endif %}</a>
              </h4>
            </div>
            <div id="collapse_{{ problem.slug }}" class="panel-collapse {% if open_slug != problem.slug %}collapse{% endif %}">
              <div class="panel-body">
                  <p>{% autoescape off %}{{ problem.desc }}{% endautoescape %}</p>
                  <small>- {% blocktrans with solved_count=problem.solved_count %} Solved {{ solved_count }} times - {% endblocktrans %}</small>
              </div>
              <div class="panel-footer">
                  {% if problem.solved %}
                    {% trans "Solved!" %}
                    {% if course.writeups %}
                        <small><a href="{% url 'wui_course_problem_writeup' course.name problem.slug %}">edit writeup</a></small>
                    {% endif %}
                  {% else %}
                      <form method="POST" action="?slug={{ problem.slug }}">
                          {% csrf_token %}
                          {{ problem.form }}
                          <input type="submit" class="btn btn-primary" value="{% trans 'Submit' %}">
                      </form>
                  {% endif %}
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
{% endfor %}
