{% load i18n %}

{% for category, problems in categories.items %}
    <div class="content-left">
        <h3>{{ category }}</h3>
    </div>
    {% for problem in problems %}
         <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse{{ problem.title }}">{{ problem.title }} [{{ problem.points }} {% trans "points" %}]
                    {% if problem.solved %} - <strong>{% trans "Solved!" %}</strong>{% endif %}</a>
              </h4>
            </div>
            <div id="collapse{{ problem.title }}" class="panel-collapse {% if open_title != problem.title %}collapse{% endif %}">
              <div class="panel-body">{% autoescape off %}{{ problem.desc }}{% endautoescape %}</div>
              <div class="panel-footer">
                  {% if problem.solved %}
                    {% trans "Solved!" %}
                  {% else %}
                      <form method="POST" action="?title={{ problem.title }}">
                          {% csrf_token %}
                          {{ problem.form }}
                          <input type="submit" class="btn btn-primary" value="{% trans 'Submit' %}">
                      </form>
                  {% endif %}
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
{% endfor %}
