{% extends "courses/detail_base.html" %}
{% load i18n %}
{% load berlyne_extra %}
{% load static %}

{% block details %}
    <h1>{% trans 'Scoreboard' %}</h1>

    {% for place, entry in user_points %}
                <div class="row">
                    <div class=".col-xs-4" style="float: left; width: 20%;">
                        <h3>
                            {{ place }}
                            {% if place == 1 %}
                                <img src="{% static 'img/crown.png' %}" alt="{% trans 'crown' %}" width="10%" />
                            {% endif %}
                        </h3>

                    </div>
                    <div class=".col-xs-4" style="float: left; width: 60%;">
                        <h3>
                            {{ entry.user__username }}
                            {% if request.user|is_in_group:"teachers" %}
                                ({{ entry.user__last_name }})
                            {% endif %}
                        </h3>
                    </div>
                    <div class=".col-xs-4" style="float: right; width: 20%;">
                        <h3>{{ entry.point_sum }}</h3>
                    </div>
                </div>
        <hr />
    {% endfor %}
{% endblock %}