{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ sub.user }}/{{ sub.problem.name }} {% trans "write up" %}{% endblock %}
{% block content %}
    <h1>{% trans "Write up" %}</h1>
    <h3> {{ sub.user }} {% if sub.user.last_name %}({{ sub.user.last_name }}){% endif %} {% trans "about" %} {{ sub.problem.name }}({{ sub.problem.category }})</h3>
    <p>
        {% if sub.writeup %}
            <pre>
                {{ sub.writeup.strip }}
            </pre>
        {% else %}
            {% trans "The user submitted an empty writeup" %}
        {% endif %}
    </p>
    <a href="javascript:history.back()" class="btn btn-info">{% trans "Back" %}</a>
{% endblock %}